@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .imageHome{
       border-top-right-radius: 70px;
       border-bottom-left-radius: 70px;
    }
    .enregistrement:hover{
      background-color: #333;
      color:#f1f1f1;
    }
    .container-bandes{
        width: 100%;
        height: 100vh;
        background: transparent;
        display: flex;
        justify-content: center;
        overflow: hidden;
        top: 10vh;
        left: 0;
        position: absolute;
        /* z-index: 500; */
         }
         .bandes{
           width: 10%;
           height: 0;
         }
         .bandes:nth-child(even){
           background-color: #333;
         }
         .bandes:nth-child(odd){
           background: #f1f1f1;
         }
         .wipe-transition{
           width: 100vw;
           height: 100vh;
           /* background-color:red; */
           position: absolute;
           left: -100%;
         }
         .accueil1{
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,96,1) 35%, rgba(0,212,255,1) 100%);
            width: 100vw;
            height:100vh;
         }
         .accueil2{
            background: linear-gradient(93deg, rgba(2,0,36,1) 0%, rgb(44, 37, 42) 35%, rgba(0,212,255,1) 100%);
            width: 100vw;
            height:100vh;
         }
         .accueil3{
            background: linear-gradient(20deg, rgba(2,0,36,1) 0%, rgba(228,142,209,1) 35%, rgb(2, 56, 66) 100%);
            width: 100vw;
            height:100vh;
         }
}

